.pr_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.profile {
    background-color: #FFCC99;
    border: 1px solid #331900;
}

.description {
    padding: 70px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(245, 237, 237);
}

.name {
    font-size: 40px;
    font-weight: 700;
    padding: 30px 0;
    align-self: center;
}

.tag,
.location {
    font-size: 25px;
    color: rgb(51, 48, 48);
    text-align: center;
    margin-bottom: 20px;
}



.stats {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    list-style: none;
    padding-left: 0;
    background-color: #CCFF99;
    margin-bottom: 0;
}

.stats_item {
    width: calc(100% / 3);
    height: 80px;
    text-align: center;

}

.stats_item:not(:last-child) {
    border-right: 1px solid black;
}

.label {
    display: block;
    padding: 10px;
    font-weight: 700;
}