.friend__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin-bottom: 10px;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #ccff99;
    box-shadow: 10px 5px 5px #99ffcc;
    ;
}

.name {
    font-size: 22px;
    font-weight: 500;
}

.no_active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(247, 10, 10);
}

.active {
    background-color: rgb(10, 247, 22);
}

.status {
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 30px;
}